*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
h1{
    text-align: center;
}
.container-fluid img{
    position:relative;
    height: 130px;
    width: 200px;
    background-size: cover;
    padding: 20px;
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  margin-bottom: .7rem;

}
#input{
    outline: none;
    border: 1px solid #363434;
    background: #222;
    color: #eee;
    border-radius: 0.5rem  0.5rem;
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    flex: 1;
    font-family: var(--ff);
  
}
button{
  cursor: pointer;

}
main{
    background-color: black;
    color: azure;
    min-height: 150px;
   max-width: 50rem;
   width: 90vw;
   /* height: 150px     ; */
   margin: 0 auto;
   border-radius: 1em;
  
    /* display: flex; */
    
}
.control{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-container{
    margin-top: 2rem;
}
.ul-list button{
    color: aquamarine;
    background-color: #222;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}
#input::placeholder{
    font-size: 20px;
    /* color: #36343; */
}
.ul-list li{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;

}
.main h3{
    font-size: 30px;
    font-weight: 600;
    color: #f2f2f2;
}
.container h1{
    /* margin-bottom: 10px; */
    font-size: 40px;
    font-weight: 600;

}
.theme-loader{
    width: 100px;
    height: 100px;
}
/* .main-content{ */
    /* display: none; */
/* } */
/* .control button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 90px;
    height: 30px;
    gap: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color:#4d4747;
    color: #f2f2f2;
} */